ul{
	height: 490px;
	min-width: 140px;
	max-width: 150px;

	line-height: 40px;
	overflow: auto;

	padding-left: 40px;
}
li{
	text-overflow: ellipsis;
    overflow: hidden;
}
li, li a{
	color: #000;

	padding-right: 10px;
}
li, section p{
	font-family: lobster, cursive;
}
figure{
	position: relative;

	float: left;
}